<footer class="footer__wrapper" >
    <div class="footer_main" >
        Footer
    </div>
</footer>

{% schema %}
{
    "name":"Footer",
    "settings":[
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        }
    ]
}
{% endschema %}